cnncheckin/node_modules
cnncheckin/dist
cnncheckin/.env
cnncheckin/.env.local
cnncheckin/.env.development.local
cnncheckin/.env.test.local
cnncheckin/.env.production.local
cnncheckin/.next
cnncheckin/build
cnncheckin/.vercel
cnncheckin/vercel.json
cnncheckin/coverage
cnncheckin/.DS_Store
cnncheckin/npm-debug.log*
cnncheckin/yarn-debug.log*
cnncheckin/yarn-error.log*
cnncheckin/.idea
cnncheckin/.vscode
cnncheckin/*.sublime-workspace
cnncheckin/*.sublime-project
cnncheckin/.history
cnncheckin/.parcel-cache
cnncheckin/.turbo
cnncheckin/.pnp.*
cnncheckin/.pnp.js
cnncheckin/.pnp.cjs
cnncheckin/.eslintcache
cnncheckin/.stylelintcache
cnncheckin/.swcache
cnncheckin/.nyc_output
cnncheckin/coverage
cnncheckin/.expo
cnncheckin/.expo-shared
cnncheckin/.firebase
cnncheckin/firebase-debug.log *
cnncheckin/.firebase/emulators
cnncheckin/ios/Pods
cnncheckin/android/.gradle
cnncheckin/android/app/build
cnncheckin/android/build
cnncheckin/android/captures
cnncheckin/android/.cxx
cnncheckin/android/.idea
cnncheckin/android/local.properties
cnncheckin/android/app/src/debug
cnncheckin/android/app/src/profile
cnncheckin/android/app/src/androidTest
cnncheckin/android/app/src/main/jniLibs
cnncheckin/android/app/src/main/assets/index.android.bundle
cnncheckin/android/app/src/main/assets/sourcemap.android.bundle
cnncheckin/android/app/src/main/res/raw
cnncheckin/android/app/src/main/res/drawable
cnncheckin/android/app/src/main/res/mipmap-hdpi
cnncheckin/android/app/src/main/res/mipmap-mdpi             